:root
{
   --bg-col: #e6e6e6;
}

html, body
{
   font-family: 'Open Sans Condensed', sans-serif;
}

/*TODO: using <a> in the menu-text breaks the layout. This needs to be fixed. */
.menu-text > a:nth-child(1)
{
   color: #149e02;
   /* Make the element fit within the div */
   width: 100%;
}

/* The background image does not appear. TODO: this needs to be fixed. */
.menu-text
{
   background: url("./assets/images/logo.png") no-repeat center center;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   /* Make the element fit within the div */
   width: 100%;
}

.add-user-form
{
   width: 50%;
   margin: 0 auto;
   padding: 0.5em 1em;
   background: #FFF;
   border: 1px solid #E4E4E4;
   border-radius: 3px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.username
{
   font-weight: bold;
}

.error-container
{
   text-align: center;
   margin: 25vh auto;
   width: 100%;
   max-width: 500px;
   padding: 0.5em;
}

.footer
{
   /* TODO: the position may cause issues later on */
   display: inline;
   font-size: 18px;
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: var(--bg-col);
   padding-bottom: 0.5em;
   text-align: center;
   vertical-align: middle;
}

.footer > .container
{
   text-align: center;
   margin: 0 auto;
   padding: 0.5em 1em;
}

.footer-content
{
   /* horizontal <ul> */
   list-style: none;
   text-align: center;
   margin: 0;
   padding: 0;
   display: inline;
}

.links > li
{
   padding-left: 3ex;
   padding-right: 3ex;
}

.tabs-panel.is-active > p:nth-child(1)
{
   font-weight: bold;
   font-size: 1.2em;
}

/* Warning label appears on the top left corner of the callout div */
.tabs-panel.is-active > .callout > .warning.label
{
   left: 0;
   top: 0;
   position: absolute;
}

/* Centering the text with the previous button */
.callout > form:nth-child(2) > div:nth-child(5) > a:nth-child(2)
{
   /* the href must be centered vertically */
   /* TODO: */
}

.dropdown > li:nth-child(6) > a:nth-child(1)
{
   /* add a frame around it */
   border: 1px solid black;
   border-radius: 3px;
}

.callout > h4:nth-child(1)
{
   color: red;
   font-weight: bold;
}

ul.footer-content > li
{
   float: left;
}




