:root
{
   --bg-col: #e6e6e6;
}

html, body
{
   font-family: 'Open Sans Condensed', sans-serif;
   height: 100%;
}

body
{
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.section-landing
{
   background: url('../images/background3.jpg');
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 1;
   position: relative;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
}

.wrapper-landing
{
   margin: auto auto;
   text-align: center;
   min-width: min-content;
   max-width: 100%;
   width: 100%;
   /* make the text inside stand out */
   color: white;
   font-weight: bold;
}

.wrapper-landing h1, h2, h3, h4, h5, h6, p
{
   color: rgb(0, 0, 0);
   display: flexbox;
}

.wrapper-landing h1
{
   font-size: 5vw;
   font-weight: bold;
   text-transform: uppercase;
}

.wrapper-landing h2
{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 3vw;
}

.wrapper-landing p
{
   font-weight: 100;
   font-size: 2vw;
}

/*TODO: using <a> in the menu-text breaks the layout. This needs to be fixed. */
.menu-text > a:nth-child(1)
{
   color: #149e02;
   /* Make the element fit within the div */
   width: 100%;
}

.add-user-form
{
   width: 50%;
   margin: 0 auto;
   padding: 0.5em 1em;
   background: #FFF;
   border: 1px solid #E4E4E4;
   border-radius: 3px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.username
{
   font-weight: bold;
}

.error-container
{
   text-align: center;
   margin: 25vh auto;
   width: 100%;
   max-width: 500px;
   padding: 0.5em;
}

.footer
{
   /* TODO: the position may cause issues later on */
   /* TODO: make the footer stick to the bottom of the body & html. */
   font-size: 18px;
   margin-top: auto;
   position: relative;
   bottom: 0;
   background-color: var(--bg-col);
   padding-bottom: 0.5em;
   text-align: center;
   vertical-align: middle;
}

.form
{
   margin: 5% 5%;
}

#login-data
{
   margin: 5% 5%;
}

/* container for footer */
.footer > div:nth-child(1)
{
   min-height: 40px;
   width: max-content;
   text-align: center;
   margin: 0 auto;
   padding: 0.5em 1em;
}

.footer-content
{
   list-style: none;
   text-align: center;
   margin: 0;
   padding: 0;
   display: inline;
}

.invalidFeedback
{
   color: red;
   font-weight: bold;
}

thead > tr > th:nth-last-child(1)
{
   width: 200px;
   text-align: center;
}

.table > tbody > tr > td > div > a > img
{
   max-width: 24px;
   max-height: 24px;
   margin: 0 10px;
}

.container > .success
{
   margin-bottom: 0;
}

td.actions
{
   display:inline-block;
   margin: auto;
   padding: auto;
   text-align: center;
   width: 100%;
}

/* TODO: coloring of the SVGs is cursed. */
#user-profile
{
   filter: invert(48%)
      sepia(79%)
      saturate(2476%)
      hue-rotate(175deg)
      brightness(118%)
      contrast(119%);
}

#user-update
{
   filter: invert(48%)
   sepia(79%)
   saturate(2476%)
   hue-rotate(175deg)
   brightness(50%)
   contrast(119%);
}

#user-delete
{
   filter: invert(0.5)
   sepia(1)
   saturate(40)
   hue-rotate(-30deg);
}

#user-ban
{
   filter: invert(0.05)
   sepia(1)
   saturate(50)
   hue-rotate(-30deg);
}

.links > li
{
   padding-left: 2ex;
   padding-right: 2ex;
}

.tabs-panel.is-active > p:nth-child(1)
{
   font-weight: bold;
   font-size: 1.2em;
}

/* Warning label appears on the top left corner of the callout div */
.tabs-panel.is-active > .callout > .warning.label
{
   left: 0;
   top: 0;
   position: absolute;
}

/* 404 page red text */
.callout > h4:nth-child(1)
{
   color: red;
   font-weight: bold;
}

/* aligning the contents of the list horizontally */
ul.footer-content > li
{
   float: left;
}

/* the login data on the login page */
div.callout:nth-child(4) > pre:nth-child(2)
{
   padding-top: 2vh;
}

.logo
{
   height: 40px;
}

/* href containing the logo */
.dropdown > a:nth-child(1)
{
   margin: 0;
   padding: 0;
   display: inline-block;
   text-decoration: none;
}

@media (max-width: 900px)
{
   #admin-user-table th
   {
      margin: 0;
      padding: 0 1px;
   }

   #admin-user-table td
   {
      margin: 0;
      padding: 0 1px;
   }

   .view-hidden
   {
      display: none;
   }

   .table > tbody > tr > td > div > a > img
   {
      max-width: 30px;
      max-height: 30px;
      margin: 5px 10px;
   }
}

@media (max-width: 480px)
{
   .footer
   {
      display: flexbox;
      font-size: 2vh;
      font-weight: bold;
   }

   .footer-content
   {
      display: flex;
      flex-direction: column;
   }

   .links > li
   {
      padding: 1vh 1vw 0 1vw;
      display: inline;
   }

   .footer > div:nth-child(1)
   {
      min-width: none;
   }

   .wrapper-landing h1
   {
      font-size: 3em;
   }

   .wrapper-landing h2
   {
      font-size: 2em;
   }

   .wrapper-landing p
   {
      font-size: 1em;
   }
}





